In [2]:
import os
import json
import pandas as pd

# look in the current working directory + the subdirectory where the json files reside
path_to_json = os.getcwd() + r'\json_files'

# read the given json file
def get_json(file):
    json_file = os.path.join(path_to_json, file)
    with open(json_file, 'r') as f:
        try:
            return json.load(f)
        except:
            return None

# get a list of json files
json_files = [j for j in os.listdir(path_to_json) if j.lower().endswith(".json")]

# get the data from the json files
json_data = [get_json(j) for j in json_files if get_json(j) is not None]

# create the dataframe
df = pd.DataFrame(
    [v for j in json_data for v in j.values()]
    # optional index, the id in our case
    , index = [k for j in json_data for k in j]
)

# save to csv
df.to_csv(os.getcwd() + r'\data.csv')

display(df.head())

,name,gender,company,email
6385e3af9dbec7181231b382,Jodi Fry,female,TERAPRENE,jodifry@teraprene.com
6385e3afb7e3621d3c7ec628,Wiley Camacho,male,YOGASM,wileycamacho@yogasm.com
6385e3afa01317389fb80d2f,Key Salinas,male,EPLODE,keysalinas@eplode.com
6385e3afe81b783e77a6a25e,Kerry Everett,female,BLEEKO,kerryeverett@bleeko.com
6385e3af45d23bf6aeff9be5,Brenda Bryant,female,KEENGEN,brendabryant@keengen.com